<?xml version="1.0" encoding="utf-8"?>
<!--https://github.com/chocolatey/choco/wiki/CommandsInstall-->
<!--GCC Chocolatey Packages for a windows 7 machine-->
<packages>
    <package id="dotnet4.5" />
    <package id="chocolatey" />
    <package id="flashplayerplugin" />
    <package id="flashplayeractivex" />
    <package id="javaruntime" />
    <package id="googlechrome" />
    <package id="firefox" />
    <package id="7zip.install" />
    <package id="adobereader" />
    <package id="vlc" />
    <package id="ccleaner" />
    <package id="speccy" />
    <package id="sysinternals" />
    <package id="paint.net" />
    <package id="cutepdf" />
    <package id="infrarecorder" />
<!--<package id="spacesniffer" />-->
    <package id="youtube-dl" />
    <package id="ffmpeg" />
<!--<package id="powershell" version="4.0.20141001" />-->
</packages>
